.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222;
    color: white;
    padding: 20px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contactinfo {
    font-size: 1.2rem;
    margin: 5px 0;
}

.map iframe {
    border-radius: 10px;
    border: none;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .map {
        margin-top: 20px;
    }
}